<!doctype html>
<html>
    <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
        <title>{% if page.title %}{{ page.title | markdownify | strip_html }} | {% endif %}{{ site.name }} — {{ site.description }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/favicon.png" type="image/png">
        {% if page.title %}
        <meta property="og:title" content="{{ page.title | markdownify | strip_html | xml_escape }}">
        <meta property="og:type" content="article">
        <meta property="og:url" content="http://{{ site.url }}{{ page.ur }}">
        <meta property="og:image" content="{{ page.lead.image }}">
        <meta property="og:description" content="{{ page.excerpt | markdownify | strip_html | xml_escape }}">
        {% endif %}
        <meta property="og:site_name" content="{{ site.name }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }} (RSS 2.0)" href="/feed.xml">
    </head>
    <body><div class="container">
        <header>
            <h1>
                <a href="/"><img class="logo" src="/img/logo.png" alt="{{ site.name }}" title="{{ site.name }}"></a>
                <small><a href="/">{{ site.description }}</a></small>
            </h1>
        </header>

        <nav>
            <ul class="clearfix">
                <li><a href="/archive">Archive</a></li>
                <li class="pull-right">
                    <form action="https://www.google.com/search" method="GET">
                        <input type="hidden" name="q" value="site:{{ site.url }}">
                        <input type="search" placeholder="Search" name="q">
                    </form>
                </li>
                <li class="pull-right"><a href="mailto:editor@sfbaybeat.com"><i class="fa fa-envelope"></i></a></li>
                <li class="pull-right"><a href="https://facebook.com/pages/SF-Bay-Beat/613668795381781"><i class="fa fa-facebook"></i></a></li>
                <li class="pull-right"><a href="https://twitter.com/sfbaybeat"><i class="fa fa-twitter"></i></a></li>
                <li class="pull-right"><a href="/feed.xml"><i class="fa fa-rss"></i></a></li>
            </ul>
        </nav>

        {{ content }}

        <footer>
            Copyright © SF Bay Beat, est. 2014. News is provided "as is", without guarantee of any kind, express or implied.
        </footer>
    </div></body>
</html>
