<!doctype html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title | markdownify | strip_html }} | {% endif %}{{ site.name }} — {{ site.description }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/favicon.png" type="image/png">
    </head>
    <body><div class="container">
        <header>
            <h1>
                <a href="/"><img class="logo" src="/img/logo.png" alt="{{ site.title }}" title="{{ site.title }}"></a>
                <small><a href="/">{{ site.description }}</a></small>
            </h1>
        </header>

        <nav>
            <ul class="clearfix">
                <li class="pull-right">
                    <form action="https://www.google.com/search" method="GET">
                        <input type="hidden" name="q" value="site:{{ site.url }}">
                        <input type="search" placeholder="Search" name="q">
                    </form>
                </li>
                <li class="pull-right">
                    <a href="https://twitter.com/sfbaybeat"><i class="fa fa-twitter"></i></a>
                </li>
            </ul>
        </nav>

        {{ content }}

        <footer>
            Copyright © SF Bay Beat, est. 2014. News is provided "as is", without guarantee of any kind, express or implied.
        </footer>
    </div></body>
</html>
