---
layout: default
---

<div class="row">
    <aside class="col-md-3 hidden-sm hidden-xs">
        <ul class="recent-news">
            {% for post in site.posts limit: 10 %}
            <li itemscope itemtype="http://schema.org/NewsArticle">
                <a class="{% if page.url == post.url %}disabled{% endif %}" href="{{ post.url }}"><span itemprop="headline">{{ post.title | markdownify | remove:"<p>" | remove:"</p>" }}</span></a><br>
                <time datetime="{{ post.date | date:"%FT%T%z" }}" itemprop="datePublished">{{ post.date | date:"%b %d, %Y" }}</time>
            </li>
            {% endfor %}
        </ul>
    </aside>

    <article itemscope itemtype="http://schema.org/NewsArticle" class="col-md-9">
        <header>
            <h1 itemprop="headline">{{ page.title | markdownify | remove:"<p>" | remove:"</p>" }}</h1>
            <time datetime="{{ page.date | date:"%FT%T%z" }}" itemprop="datePublished">{{ page.date | date:"%b %d, %Y" }}</time>
        </header>
        <div itemprop="articleBody">
            {% if page.lead %}
            <figure class="lead">
                <div class="image" style="background-image: url('{{ page.lead.image }}')"></div>
                <figcaption>{{ page.lead.caption | markdownify | remove:"<p>" | remove:"</p>" }}</figcaption>
            </figure>
            {% endif %}
            {% capture repl %}<p><span class="dateline" itemprop="dateline">{{ page.dateline }}</span>{% endcapture %}
            {{ content | replace_first: "<p>", repl }}
            <hr>
            <h2>Related News</h2>
            <ul>
            {% for post in site.related_posts %}
                {% if post.url != page.url %}
                    <li itemscope itemtype="http://schema.org/NewsArticle">
                        <a href="{{ post.url }}"><span itemprop="headline">{{ post.title | markdownify | remove:"<p>" | remove:"</p>" }}</span></a>
                        <time datetime="{{ post.date | date:"%FT%T%z" }}" itemprop="datePublished">{{ post.date | date:"%b %d, %Y" }}</time>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </article>
</div>
