---
layout: default
---

<div class="row">
    <aside class="col-md-3 hidden-sm hidden-xs">
        <ul class="recent-news">
            {% for post in site.posts limit: 10 %}
            <li itemscope itemtype="http://schema.org/NewsArticle">
                <a class="{% if page.url == post.url %}disabled{% endif %}" href="{{ post.url }}"><span itemprop="headline">{{ post.title | markdownify | remove:"<p>" | remove:"</p>" }}</span></a><br>
                <time datetime="{{ post.date | date:"%FT%T%z" }}" itemprop="datePublished">{{ post.date | date:"%b %d, %Y" }}</time>
            </li>
            {% endfor %}
        </ul>
    </aside>

    <article itemscope itemtype="http://schema.org/NewsArticle" class="col-md-9">
        <header>
            <h1 itemprop="headline">{{ page.title | markdownify | remove:"<p>" | remove:"</p>" }}</h1>
            <time datetime="{{ page.date | date:"%FT%T%z" }}" itemprop="datePublished">{{ page.date | date:"%b %d, %Y" }}</time>
        </header>
        <div itemprop="articleBody">
            {% if page.lead %}
            <figure class="lead">
                <div class="image" style="background-image: url('{{ page.lead.image }}')"></div>
                <figcaption>{{ page.lead.caption | markdownify | remove:"<p>" | remove:"</p>" }}</figcaption>
            </figure>
            {% endif %}
            {% capture repl %}<p><span class="dateline" itemprop="dateline">{{ page.dateline }}</span>—{% endcapture %}
            {{ content | replace_first: "<p>", repl }}
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <a class="addthis_button_tweet"></a>
            <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
            <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-534410004b7c3ebc"></script>
            <!-- AddThis Button END -->
            <hr>
            <h2>Related News</h2>
            <ul>
            {% for post in site.related_posts %}
                {% if post.url != page.url %}
                    <li itemscope itemtype="http://schema.org/NewsArticle">
                        <a href="{{ post.url }}"><span itemprop="headline">{{ post.title | markdownify | remove:"<p>" | remove:"</p>" }}</span></a>
                        <time datetime="{{ post.date | date:"%FT%T%z" }}" itemprop="datePublished">{{ post.date | date:"%b %d, %Y" }}</time>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
            <hr>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'sfbaybeat'; // required: replace example with your forum shortname
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
    </article>
</div>
